*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #1b2838;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #66c0f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  letter-spacing: 1.25px;
}

/* Header Section */
header {
  background-color: #171a21;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h3 {
  font-size: 1rem;
  color: #b8b6b4;
  transition: color 1s, font-size 1s;
}

header h3:hover {
  color: #ffffff;
  font-size: 1.25rem;
}

nav a {
  text-decoration: none;
  color: #b8b6b4;
  text-transform: uppercase;
  margin: 10px;
  font-size: 1rem;
  transition: color 1s, font-size 1s;
}

nav a:hover {
  color: #ffffff;
  font-size: 1.25rem;
}

/* Main Section */
main {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Search */
main .search-section {
  max-width: 210px;
  background-color: #1b2838;
}

.search-section #store-search {
  float: none;
  height: 30px;
  margin: 0px;
  position: relative;
}

#store-search form {
  display: block;
  margin-top: 0px;
}

#store-search .search-box {
  background-image: none;
  background-color: #316282;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
  color: #fff;
  margin-bottom: 0px;
  outline: none;
  height: 27px;
  padding: 0px 6px;
  position: relative;
}

.search-box input {
  border: none;
  background-color: transparent;
  color: #eeeeee;
  /* margin-top: 2px; */
  /* margin-left: 8px; */
  /* width: calc(100% - 25px - 8px); */
  outline: none;
  /* line-height: 26px; */
}

.searchbox input.search-input {
  color: #ebeef0;
  font-size: 15px;
  margin-top: 1px;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

#store-search-link img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/search_icon_btn.png);
}

.search-section .category ul {
  color: #66c0f4;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #316282;
  cursor: pointer;
  font-size: 0.9rem;
}

.search-section .category ul li {
  padding-bottom: 1em;
}

.search-section .category ul li:hover {
  color: white;
}

/* Game Section */
main .games-section {
  margin-left: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.game-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #000;
  background-image: url(./images/background_spotlight.jpg);
  width: 270px;
  transition: all 0.2s ease-in-out;
}

.game-container:hover {
  transform: scale(1.1);
}

.game-container .cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.game-container .cover img {
  object-fit: contain;
  border: none;
}

.game-container .cover .game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Motiva Sans", sans-serif;
  color: #acdbf5;
  font-size: 0.75rem;
  background: linear-gradient(
    -45deg,
    rgba(64, 121, 153, 1) 5%,
    rgba(42, 62, 89, 1) 95%
  );
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Footer Section */
footer {
  background: #171a21;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  position: fixed;
}

footer .row {
  text-align: center;
  font-size: 1rem;
  color: #b8b6b4;
  padding: 5px;
}
