*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #1b2838;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #66c0f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  letter-spacing: 1.25px;
}

img {
  border: none;
}

.responsive {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.tiny-info {
  color: white;
}

.loading {
  color: white;
}

.positive {
  color: green;
}

.negative {
  color: orangered;
}

/* Header Section */
header {
  background-color: #171a21;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

header h3 {
  font-size: 1rem;
  color: #b8b6b4;
  transition: color 1s, font-size 1s;
}

header h3:hover {
  color: #ffffff;
  font-size: 1.25rem;
}

nav a {
  text-decoration: none;
  color: #b8b6b4;
  margin: 10px;
  font-size: 1rem;
  transition: color 1s, font-size 1s;
}

nav a:hover {
  color: #ffffff;
  font-size: 1.25rem;
}

/* Main Section */
main {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

/* Search */
main .search-section {
  max-width: 210px;
  background-color: #1b2838;
}

.search-section #store-search {
  float: none;
  height: 30px;
  margin: 0px;
  position: relative;
}

#store-search form {
  display: block;
  margin-top: 0px;
}

#store-search .search-box {
  background-image: none;
  background-color: #316282;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
  color: #fff;
  margin-bottom: 0px;
  outline: none;
  height: 27px;
  position: relative;
}

.search-box input {
  display: block;
  border: none;
  background-color: transparent;
  color: #eeeeee;
  width: calc(100% - 25px - 8px);
  outline: none;
  line-height: 26px;
  margin-left: 8px;
  font-size: 0.8rem;
}

.searchbox input.search-input {
  color: #ebeef0;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
  font-family: "Fira Sans", sans-serif;
}

#store-search-link img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/search_icon_btn.png);
}

.search-section .category ul {
  color: #66c0f4;
  list-style-type: none;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #316282;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 1em 0;
}

.search-section .category ul li {
  padding-bottom: 1em;
}

.search-section .category ul li:hover {
  color: white;
  cursor: pointer;
}

/* Game Section */
main .games-section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.game-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #000;
  background-image: url(./images/background_spotlight.jpg);
  max-width: 270px;
  transition: all 0.2s ease-in-out;
}

.game-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.game-container .cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.game-container .cover img {
  object-fit: contain;
  border: none;
}

.game-container .cover .game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Motiva Sans", sans-serif;
  color: #acdbf5;
  font-size: 0.75rem;
  background: linear-gradient(
    -45deg,
    rgba(64, 121, 153, 1) 5%,
    rgba(42, 62, 89, 1) 95%
  );
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

/* GAME DETAILS SECTION */
.games-section .show-detail {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  flex-direction: column;
}

.show-detail .title {
  color: white;
  font-family: "Fira+Sans", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 32px;
  text-overflow: ellipsis;
  font-weight: normal;
}

.show-detail .price {
  color: #acdbf5;
  display: inline-block;
  line-height: 16px;
  padding: 6px 0;
  font-size: 1rem;
}

.show-detail .infos-container {
  max-width: 850px;
  display: flex;
  background-position: bottom;
  padding: 16px;
  margin-bottom: 8px;
  margin-top: 10px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.show-detail .game-details .game-description {
  max-width: 400px;
  overflow: hidden;
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0 16px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  color: white;
}

.show-detail .game-details .game-informations {
  font-size: 0.8rem;
  padding: 16px;
  min-width: 94px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #66c0f4;
  line-height: 20px;
}

.show-detail .tags-container {
  max-width: 850px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  font-size: 12px;
  padding: 16px;
}

.show-detail .tags-container .tags {
  display: flex;
}

.show-detail .tags-container .tags .tag {
  display: inline-block;
  line-height: 19px;
  padding: 0 7px;
  color: #67c1f5;
  background-color: rgba(103, 193, 245, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin: 4px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #67c1f5;
}

/* Footer Section */
/* footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #171a21;
  width: 100%;
  padding: 0 20px;
}

footer .row {
  text-align: center;
  font-size: 1rem;
  color: #b8b6b4;
  padding: 5px;
} */

/* Spinner */
/* spinner */
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid coral;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading {
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
